.hero {
  display: flex;
  width: 80%;
  align-items: center;
}
.hero_conteudo {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 34px;

  & h1 {
    font-size: 40px;
    font-weight: 700;

  }
  & .rosa {
    color: #ff5757;
  }
  & .roxo {
    color: #a47cff;
  }

  & p {
    font-weight: 700;
  }
}
.hero_imagem {
  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
