.hero {
  display: flex;
  width: 80%;
  align-items: center;
}
.hero_conteudo {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 34px;

  & h1 {
    font-size: 40px;
    font-weight: 700;
  }
  & .rosa {
    color: #ff5757;
  }
  & .roxo {
    color: #a47cff;
  }

  & p {
    font-weight: 700;
  }
}
.hero_imagem {
  width: 90%;
  height: 800px;
  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media screen and (max-width: 1024px) {
  .hero_imagem {
    height: 500px;
    width: 100%;
  }
  .hero_conteudo {
    & h1 {
      font-size: 32px;
    }
    & p {
      font-size: 15px;
    }
  }
}
@media screen and (max-width: 630px) {
  .hero {
    padding: 160px 0 60px 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../../assets/imagens/produtos2.png);
    background-position: top;
    background-size:auto;
    background-repeat: no-repeat;
    background-color: #000000c2;
    background-attachment: fixed;

    & h1, p{
      color: #ffffff;
    }
  }
  .hero_conteudo {
    justify-content: center;
    align-items: center;
  }
  .hero_imagem {
    display: none;
  }
}
