.cta{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 90px ;
    gap: 40px;
   
   
    & .rosa {
    color: #4015a4;
    
  }

  & h1{
    font-weight: 700;
  }
  & p{
    font-size: 20px;
  }
}

.caneca_icon{
  width: 64px;
  height: 64px;
}

@media screen and (max-width: 1024px){
  .cta{
    text-align: center;
  }
}
@media screen and (max-width: 630px){
  .cta{
    padding: 20px
  }
}
