.header {
  position: fixed;
  left: 10%;
  margin: auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15%;
  background-image: linear-gradient(
    to right,
    rgba(241, 241, 241, 0.749),
    rgba(221, 221, 221, 0.649)
  );
  border-radius: 100px;
  font-family: "Poppins", sans-serif;
  z-index: 1000;
}

.header img {
  width: 65px;
  height: 65px;
}


.links_conteudo,
button {
  display: flex;
}


.links_conteudo {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
  font-size: 20px;
  padding-right: 10px;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #222;
}


.espaco_criativo {
  justify-content: center;
  align-items: center;
  color: #222;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 25px 10px 25px;
  border-radius: 30px;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  gap: 12px;
  background-color: #fff;
}


.espaco_criativo img {
  width: 22px;
  height: 22px;
}

.espaco_criativo:hover {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(
        to right,
        #ff0000,
        #ffa500,
        #ffff00,
        #008000,
        #0000ff,
        #4b0082,
        #a331a3,
        #dd3396
      )
      border-box;
  border-color: transparent;
  transform: scale(1.07);
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 89%;
   
  }
  .links_conteudo {
    font-size: 14px;
  }
  .espaco_criativo {
    font-size: 14px;
  }
}


.menu_btn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1100;
  padding: 0;
}

.menu_btn span,
.menu_btn > span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #6624ff;
  border-radius: 5px;
  transition: all 0.3s ease;
}

/* definindo classes bar1, bar2, bar3 (padrão) */
.bar1 { transform: none; }
.bar2 { opacity: 1; }
.bar3 { transform: none; }

/* classes de estado "ativo" (quando menu aberto) */
.bar1Active {
  transform: rotate(55deg) translateY(15px);
}
.bar2Active {
  opacity: 0;
}
.bar3Active {
  transform: rotate(-55deg) translateY(-15px);
}

@media screen and (max-width: 900px) {
  .header{
    background-image: none;
    width: 100%;
    background-color: #ffffffe8;
    border-radius: 5px;
    padding: 10px 20px;
    left: 0;
  }

  .menu_btn {
    display: flex;
    left: 0;
  }


  .links_conteudo {
    position: absolute;
    width: fit-content;
    top: 100%;
    right: 0;
    flex-direction: column;
    align-items:center;
    background-color: #fffffff1;
    gap: 25px;
    padding: 30px 20px;
    transform: translateY(-20%);
    opacity: 0;
    border-radius: 5px;
    transition: all 0.4s ease;
    border-top: 1px solid #eee;
  }

  /* quando aberto */
  .menu_aberto {
    transform: translateY(0);
    opacity: 1;
  }
}
