header {
  position: fixed;
  left: 10%;
  margin: auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
 gap: 15%;
  background-image: linear-gradient(
    to right,
    rgba(241, 241, 241, 0.749),
    rgba(221, 221, 221, 0.649)
  );
  border-radius: 100px;
  font-family: "Poppins", sans-serif;
  z-index: 1000;

  & img {
    width: 65px;
    height: 65px;
  }
}

.links_conteudo,
button {
  display: flex;
}

.links_conteudo {
 width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
  font-size: 20px;
  padding-right: 10px;
}

a{
  text-decoration: none;
    font-weight: 700;
    color: #222;
}

.espaco_criativo {
  justify-content: center;
  align-items: center;
  color: #222;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 25px 10px 25px;
  border-radius: 30px;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  gap: 12px;
  background-color: #fff;

  & img {
    width: 22px;
    height: 22px;
  }
}
.espaco_criativo:hover {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(
        to right,
        #ff0000,
        #ffa500,
        #ffff00,
        #008000,
        #0000ff,
        #4b0082,
        #a331a3,
        #dd3396
      )
      border-box;
  border-color: transparent;
  transform: scale(1.07);
  cursor: pointer;
}
