.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 127px;
    position: relative;
    padding-top:50px;
}
@media screen and (max-width: 630px) {
    .home{
        padding: 0;
    }
}