.passo{
    width: 30%;
    padding: 18px;
    gap: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 14px;

    & p{
        font-size: 17px;
    }
    & img{
        width: 220px;
        height: 235px;
        object-fit: contain;
    }
}

.negrito{
    font-weight: 800;
}
.passo:hover{
    transform: scale(1.04);
}

@media screen and (max-width: 1024px) {
   .passo{
    width: 47%;
   } 
}

@media screen and (max-width: 630px){
   .passo{
    width: 100%;
   } 
}