.galeria,
.galeria_caneca,
.produto_caneca_conteudo,
.produtos_copos_conteudo,
.produtos_azulejos_conteudo,
.galeria_produtos_card,
.produtos_camiseta_conteudo {
  display: flex;
}
.galeria,
.galeria_caneca,
.produto_caneca_conteudo {
  flex-direction: column;
}
.galeria {
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.galeria_caneca {
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 90%;
}
.produto_caneca_conteudo {
  align-items: center;
  width: 100%;

  & img {
    height: 400px;
    object-fit: contain;
  }

  & .button_canecas {
    position: absolute;
    width: 50%;
    height: 45px;
    display: flex;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    font-size: 20px;
    font-weight: 600;
    z-index: 1;
    cursor: pointer;
    top: 93%;
    box-shadow: 5px 0 20px 10px rgba(0, 0, 0, 0.185);
  }
  .button_canecas:hover {
    transform: scale(1.09);
  }
}

.produto_caneca_conteudo:hover {
  transform: scale(1.02);
}

.galeria_produtos_card {
  width: 90%;
  gap: 5%;
  justify-content: space-evenly;
}
.produtos_canecas_conteudo {
  display: none;
}

.produtos_canecas_conteudo,
.produtos_camiseta_conteudo,
.produtos_azulejos_conteudo,
.produtos_copos_conteudo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 360px;
  height: 493px;
  justify-content: center;
  align-items: end;
  border-radius: 15px;
  box-shadow: 5px 0 20px 10px rgba(0, 0, 0, 0.064);
  transition: 0.2s ease-in all;
}
.produtos_camiseta_conteudo {
  width: 360px;
  background-position: center;
  height: 493px;

  background-image: url(../../../assets/imagens/camiseta_galeria.png);
}
.produtos_copos_conteudo {
  background-image: url(../../../assets/imagens/coposgarrafas.png);
}
.produtos_canecas_conteudo {
  background-image: url(../../../assets/imagens/canecas_galeria.png);
}
.produtos_azulejos_conteudo {
  background-image: url(../../../assets/imagens/azulejos.png);
}
.produto_descricao {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 5px;
  color: #0b071e;
  font-weight: 600;
  border-radius: 0 0 15px 15px;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}
.produtos_camiseta_conteudo:hover,
.produtos_azulejos_conteudo:hover,
.produtos_copos_conteudo:hover {
  transform: scale(1.09);
}

@media screen and (max-width: 1024px) {
  .galeria {
    & h1 {
      text-align: center;
    }
  }

  .produto_caneca_conteudo {
    width: 100%;

    & img {
      width: 100%;
      height: 100%;
    }
  }
  .galeria_produtos_card {
    flex-wrap: wrap;
    width: 70%;
    height: auto;
    gap: 25px;
  }
  .produtos_canecas_conteudo,
  .produtos_copos_conteudo,
  .produtos_azulejos_conteudo,
  .produtos_camiseta_conteudo {
    width: 100%;
    height: 932px;
  }
  .produtos_camiseta_conteudo:hover,
  .produtos_azulejos_conteudo:hover,
  .produtos_copos_conteudo:hover {
    transform: scale(1.02);
    
  }
  .produtos_camiseta_conteudo {
    background-position: top;
  }
  .produto_descricao {
    padding-bottom: 50px;
    font-size: 40px;
  }
}
@media  screen and (max-width: 768px) {
  .produtos_canecas_conteudo,
  .produtos_copos_conteudo,
  .produtos_azulejos_conteudo,
  .produtos_camiseta_conteudo {
    height: 700px;
  }
}
@media screen and (max-width: 630px) {
  .galeria_caneca {
    width: 90%;
    display: none;
  }
  .galeria_produtos_card {
    width: 90%;
  }
  .produtos_canecas_conteudo {
    display: flex;
  }
  .produto_descricao{
    font-size: 30px;
  }
  .produtos_camiseta_conteudo:hover,
  .produtos_azulejos_conteudo:hover,
  .produtos_copos_conteudo:hover {
    transform: none;
  }
  .produtos_canecas_conteudo,
  .produtos_copos_conteudo,
  .produtos_azulejos_conteudo,
  .produtos_camiseta_conteudo {
    box-shadow: 5px 0 20px 10px rgba(0, 0, 0, 0.04);
  }
}
