footer {
  background-color: #ff5757;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 20px 0;
}
.rodape_conteudo {
  display: flex;
  border-bottom: 2px solid #fff;
  width: 45%;
  gap: 132px;
  align-items: start;
  justify-content: center;

  & img {
    width: 152px;
    height: 142px;
  }
}
.navegacao,
.contato {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 12px;
  padding-bottom: 30px;

  & a,
  h3,
  p {
    font-weight: 600;
    color: #fff;
  }
}
.sociais {
  display: flex;
  gap: 20px;
  & img {
    width: 47px;
    height: 47px;
  }
}

.copy {
  padding-top: 15px;
  font-weight: 600;
  color: #fff;
}
.onda {
  width: 100%;
  height: 160px;

  & img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .rodape_conteudo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border: none;
  }
  .navegacao, .contato  {
    justify-content: center;
    width: 100%;
    

    & a,
    h3,
    p {
      font-weight: 600;
      color: #fff;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  .sociais {
    justify-content: center;
  }
}
