footer{
    background-color: #FF5757;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 20px 0;
}
.rodape_conteudo{
    display: flex;
    border-bottom: 2px solid #fff;
    width: fit-content;
    gap: 132px;
    align-items: start;
    justify-content: center;


    & img{
        width: 152px;
        height: 142px;
    }
}
.navegacao,
.contato{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 12px;
    padding-bottom: 30px;
}
.sociais{
    display: flex;
    gap: 20px;
    & img{
      width: 47px;
      height: 47px;  
    }
}
p, h3{
    font-weight: 600;
    color: #fff;
    font-family:  "Nunito", sans-serif;
}
.copy{
    padding-top: 15px;
}