.sobreSes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:40px;

    padding: 0 10%;

    & p{
        font-size: 20px;
    }
}

.sobre_imagens{
    width: 100%;
    display: flex;
    gap: 5%;
    background-color: #FFE66D;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 20px;
    & p{
        width: 46%;
       font-size: 23px;
        font-weight: 700;
    }


    & .card_dois{
        width: 45%;
        height: 490px;
        border-radius: 20px;
        background-image: url(../../../assets/imagens/mae_filha.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        box-shadow: 5px 0 20px 10px rgba(255, 222, 5, 0.667);
    
    }

}

.sparkle{
    position: absolute;
    z-index: 1;
    top: 5%;
    right: 90%;
    animation: spin 6s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}