.sobreSes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:40px;
    margin-bottom: 120px;
    padding: 0 10%;

    & p{
        font-size: 20px;
    }
}

.sobre_imagens{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    & .card_um{
        width: 525px;
        height:390px;
        border-radius: 20px;
        background-image: url(../../../assets/imagens/produtos.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-right: 30%;
    }

    & .card_dois{
        width: 747px;
        height: 490px;
        border-radius: 20px;
        background-image: url(../../../assets/imagens/mulher_compras.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
        margin-left: 40%;
    
    }
}