.fundo_icone_conteudo{
    border: 3px solid #00BFA6;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 20px 10px 20px;
    border-radius: 35px;
    width: 75%;
}
.icone_conteudo_info{
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;

    & p{
        color: #00BFA6;
    }
    & img{
        width: 50px;
        height: 50px;
        object-fit: contain;
    }
}