@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}
h1{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 40px;
}
p, h3, a{
  font-family: "Nunito", sana;
}
body{
  padding-top: 20px;
}